.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}
.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}
.controls {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;
}
.controls input {
  width: 40px;
  text-align: center;
}
.addBtn {
  background: black;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  color: #333;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
