* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9fafb;
  color: #1f2937;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s ease;
}

a {
  text-decoration: none;
  color: inherit;
}
